/* CONFIGURACOES GERAIS */
:root {
    --mainWhite: #ffffff;
    --secondaryGray: #C0C0C0;
    --blueButton: #167BF7;
    --backgroundColor: #00030C;
    --mainFont: 'Inter';
    --blueButtonEffect: #e607ff;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainWhite);
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container {
    height: 100vh;
    /*vh - ocupar o tamanho da tela do dispositivo */
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box {

    margin: 0 6em;
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__button {
    background-color: var(--blueButton);
    border-radius: 5px;
    padding: 1em;
    color: var(--mainWhite);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__button:hover{
    background-color:var(--blueButtonEffect);
}

.secondary__button__wireframe {
    background-color: transparent;
    border: 2px solid var(--mainWhite);
}

.legal_text {
    font-size: 12px;
    color: var(--secondaryGray);

}

.container__image {
    margin: 1em 0 2em 0;
}

.img__secondary {
    width: 70%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-size: 46px;
    font-weight: 700;
    color: var(--mainWhite);
    margin-bottom: .1em;
}

.description__text {
    color: var(--secondaryGray);
}

.secondary__button {
    display: inline-block;
    margin: 1em 0;
}

.container__description {
    padding: 0 2em 0 0;
}

/* DEVICES SECTION */

.devices {
    height: 100vh;
}

.devices__title {
    text-align: center;
}

.devices_list {
    text-align: center;
}

/* .devices_list::after{
    content: "";
    display: inline-block;
    width: 100%;
} */

.devices_item {
    display: inline-block;
    text-align: center;
}

.devices__title {
    font-size: 46px;
    font-weight: 700;
    color: var(--mainWhite);
    margin: 2em 0;
}

/* FOOTER */
footer{
    text-align: center;
}

.footer__item{
    margin: 0 .8em;
}

.footer__link{
    color: var(--mainWhite);
    text-decoration: none;
    font-size: 16px ;
}

.footer__list_links{
    list-style:none;
    display: flex;
    justify-content: center;
}

.footer__text{
    margin: 2em 0;
    font-size: 12px;
    text-align: center;
}
.footer__logo{
    margin: 2em 0;
}

.footer__link:hover{
    color:var(--blueButton);
}

.footer__link:active{
    color: orange;
}